<html>
  <head>
    <meta charset+"utf-8">
  </head>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body bgcolor="76B3DF" link= "133858" vlink="226291">
  <h1>Welcome to Our Ugly Rip-Off of GoColumbiaLions.com</h1>
<img src="/static/lion.png">
<p><a href="/teamspage/10">Softball</a></p>
<p><a href="/teamspage/11">Baseball</a></p>
<p><a href="/teamspage/12">Men's Basketball</a></p>
<p><a href="/teamspage/13">Women's Basketball</a></p>
<p><a href="/teamspage/15">Men's Fencing</a></p>
<p><a href="/teamspage/14">Women's Fencing</a></p>
<p><a href="/teamspage/16">Men's Tennis</a></p>
<p><a href="/teamspage/17">Women's Tennis</a></p>
<p><a href="/teamspage/19">Men's Squash</a></p>
<p><a href="/teamspage/18">Women's Squash</a></p>
</body>


</html>
