<html>
    <meta charset+"utf-8">
  </head>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body bgcolor="76B3DF" vlink="226291">
  <h1>Welcome to Our Complete Rip-Off of GoColumbiaLions.com:Schedule</h1>
  <strong>Select View</strong> 
  <select onchange="location = this.options[this.selectedIndex].value;">
     <option value={{schedulelink}}>Schedule</option>
     <option value={{rosterlink}}>Roster</option> 
     <option value={{newslink}}>News</option>
  </select>
  
  <table border="1" style="width:100%"> 
         <tr>
             <th>Date</th> 
             <th>Time</th>
             <th>Opponent</th>
             <th>Result</th> 
         </tr>
       {% for event in event_list %}
       <tr>
         <td>{{ event[0] }}</td>
         <td>{{ event[1] }}</td>
         <td>{{ event[2][0] }}</td>
         <td>{{ event[3] }}</td>
       </tr>
       {% endfor %}
  </table>
<p></p>
<p><a href="/">Back to homepage</a></p>

</body>

</html>
