<html>
  <head>
    <meta charset+"utf-8">
    <script type="text/javascript" src="/static/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/static/scripts.js"></script>
  </head>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body bgcolor="76B3DF" vlink="226291">
  <h1>Welcome to Our Complete Rip-Off of GoColumbiaLions.com</h1>
  <strong>Select View</strong> 
  <select onchange="location = this.options[this.selectedIndex].value;">
     <option value={{rosterlink}}>Roster</option> 
     <option value={{newslink}}>News</option>
     <option value={{schedulelink}}>Schedule</option> 
  </select>
  <p><strong>Coaches</strong></p>
  <table border="1" style="width:100%">
  <tbody>
    <tr>
      {% for coach in coaches %}
      <td align = "center"><img src={{coach[0][0]}} border=3 height=100 width=100></img></td>
      {% endfor %}
    </tr>
    <tr>
      {% for coach in coaches %} 
      <td align="center">{{ coach[1][0] }}</td>
      {% endfor %}
    </tr>
  </tbody>
  </table>
  <p></p> 
  <table id="myTable" class="tablesorter" border="1" style="width:100%"> 
  <thead>  
    <tr bgcolor="308dcf">
      <th>Photo</th>
      <th>Player Name</th>
      <th>Number</th>
      <th>Postition</th>
      <th>Grad Year</th>
      <th>Hometown</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in players %}
      <tr>
      <td><img src={{entry[0][0]}} border=3 height=100 width=100></img></td>
      <td>{{ entry[1][0] }}</td>
      <td>{{ entry[2] }}</td> 
      <td>{{ entry[3] }}</td>
      <td>{{ entry[4] }}</td>
      <td>{{ entry[5] }}</td>
      </tr>  
  {% endfor %}
  </tbody>
  </table>
 
<p><a href="/">Back to homepage</a></p>

</body>


</html>
